body {
  font-family: "Roboto", sans-serif;
  /*font-family: "Raleway", sans-serif;*/
  color: #434455;
  background-color: #ffffff;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0;
}
img {
  display: block;
}
ul,
a {
  text-decoration: none;
  list-style-type: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.container {
  max-width: 1158px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 15px 0 15px;
}
.section {
  padding-top: 120px;
  padding-bottom: 120px;
}
.header {
  color: #ffffff;
  padding-top: 24px;
  padding-bottom: 24px;
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 1px 6px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 2px 1px 0px rgba(46, 47, 66, 0.08);
}

.header .container {
  display: flex;
}

.logo {
  color: #4d5ae5;
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  line-height: 1.17;
  letter-spacing: 0.03em;
  font-size: 18px;
  font-weight: 700;
  margin-right: 76px;
}
.studio-logo {
  color: #2e2f42;
}

.header-nav-li {
  color: #404bbf;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  padding: 24px 0 24px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  position: relative;
}
.header-nav-links {
  display: flex;
  align-items: center;
}
.header-nav-li:hover,
.header-nav-li:focus {
  color: #404bbf;
}
.header-list-menu {
  display: flex;
  gap: 40px;

  color: #404bbf;
}
.header-nav-li::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px;
  height: 4px;
  background-color: #404bbf;
  border-radius: 2px;
}
.addr {
  font-style: normal;
  margin-left: auto;
}
.header-addres {
  display: flex;
  gap: 40px;
}
.addr-links {
  color: #434455;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.addr-links:hover,
.addr-links:focus {
  color: #404bbf;
}
.hero-text {
  color: #ffffff;
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  max-width: 496px;
  margin-bottom: 48px;
  margin-left: auto;
  margin-right: auto;
}

.hero {
  background-color: #2e2f42;
  padding: 188px 0;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(/images/hero-img.jpg);
  background-repeat: no-repeat;
  max-width: 1440px;
  background-position: center;
  background-size: cover;
}
.order-butt {
  font-family: Roboto, sans-serif;
  cursor: pointer;
  background-color: #4d5ae5;
  color: #ffffff;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  display: block;
  min-width: 169px;
  height: 56px;
  border: none;
  border-radius: 4px;
  margin: 0 auto;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.advantages-list {
  display: flex;
  gap: 24px;
}
.advantages-list-item {
  flex-basis: calc((100% - 72px) / 4);
}
.order-butt:hover,
.order-butt:focus {
  background-color: #404bbf;
}
.advantages-list-icon {
  width: 64px;
  height: 64px;
}
.advantages-icon-wrap {
  height: 112px;
  width: 264px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f4f4fd;
  border: 1px solid #8e8f99;
  border-radius: 4px;
  margin-bottom: 8px;
}
.advantages-header {
  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}
.advantages-paragraph {
  color: #434455;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.our-team {
  background-color: #f4f4fd;
}
.our-team-header {
  color: #2e2f42;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  text-align: center;
  margin-bottom: 72px;
}
.our-team-ul {
  display: flex;
  justify-content: center;
  gap: 24px;
  margin-top: 8px;
}
.our-team-icons-svg {
  fill: #f4f4fd;
}
.our-team-soc-icon {
  width: 40px;
  height: 40px;
}
.our-team-soc-link {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.our-team-soc-link:hover,
.our-team-soc-link:focus {
  background-color: #404bbf;
}
.our-team-list {
  display: flex;
  gap: 24px;
}
.our-team-name {
  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  margin-bottom: 8px;
}
.our-team-position {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
}
.our-team-li {
  background-color: #ffffff;
  flex-basis: calc((100% - 72px) / 4);
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}
.our-team-person {
  padding: 32px 0;
}
.portfolio-list {
  display: flex;
  column-gap: 24px;
  row-gap: 48px;
  flex-wrap: wrap;
}
.portfolio-header {
  color: #2e2f42;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  text-align: center;
  margin-bottom: 72px;
}
.portfolio-li {
  background-color: #ffffff;
  width: calc((100% - 48px) / 3);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-li:hover {
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}
.portfolio-li-wrap {
  position: relative;
  overflow: hidden;
}
.portfolio-li-cover {
  top: 0;
  left: 0;
  display: flex;
}
.portfolio-li-cover-text {
  color: #f4f4fd;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  position: absolute;
  top: 0;
  padding: 40px 32px;
  background-color: #4d5ae5;
  height: 100%;
  width: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-li:hover .portfolio-li-cover-text {
  background-color: #4d5ae5;
  transform: translateY(0%);
}
.portfolio-app {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}
.portfolio-name-app {
  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}
.portfolio-position {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.footer {
  background-color: #2e2f42;
  padding: 100px 0;
  display: flex;
  align-items: baseline;
}
.footer-wrap {
  display: flex;
  align-items: baseline;
}
.footer-social-media-text {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
  margin-bottom: 16px;
}
.foot-logo {
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  color: #4d5ae5;
  font-size: 18px;
  font-weight: bold;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  margin-bottom: 16px;
  display: inline-block;
}
.footer-logo-studio {
  color: #f4f4fd;
}

.text-footer {
  color: #f4f4fd;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  max-width: 264px;
}
.footer-content-wrap {
  margin-right: 120px;
}
.footer-ul {
  display: flex;
  gap: 16px;
}
.footer-soc-icon {
  width: 40px;
  height: 40px;
}
.footer-soc-link {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer-soc-link:hover,
.footer-soc-link:focus {
  background-color: #31d0aa;
}
.footer-icons-svg {
  fill: #f4f4fd;
}
